body {
  margin:0;
  padding:0;
}

.App {
  text-align: left;
}

.avatar-list {
  margin-right: 20px;
}

.avatar {
  border: none;
  float: left;
  margin-right: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: aquamarine;
}
